*{ 
    margin: 0px; 
    padding: 0px; 
  } 
  body {
    font-family: 'Inconsolata'; 
    font-size: 20px;
    margin-top: 40px;
    margin-left: 100px ;
    margin-right: 100px ;
}
nav 
{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
nav .row
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
@media (min-width: 767px) { 
    nav .row
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
}
.team-info
{
    border-radius: 10px;
    width: 300px;
    background-color: rgb(243, 241, 237);
    padding: 20px;
}
.project-info
{   
    border-radius: 10px;
    width: 100%;
    background-color: rgb(243, 241, 237);
    padding: 20px;
}
.features
{   
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.team-info p , .project-info p {
    padding: 10px;
}
nav h2
{
    margin-top: 20px;
}

.feature
{
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techs, .issues
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.tech-cards
{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20.25rem,100% ),1fr)); /* Adjust the minmax value as per your requirement */
    gap: 20px; 
}
.issue-cards
{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20.25rem,100% ),1fr)); /* Adjust the minmax value as per your requirement */
    gap: 20px;  
}
.card
{
    
    border-radius: 10px;
    background-color: rgb(243, 241, 237);
    padding: 20px;
  
}
.tech-cards .card img 
{
    margin-top: 10px;
    width: 50px;
}
.issue-cards .card img 
{
    margin-top: 10px;
    width: 70px;
}
.in h3
{
    padding-top: 20px;
}
.in p 
{
    padding-top: 10px;
    word-wrap: break-word;
}